body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: lightcyan;
}

.buttons {
    display: inline-block;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 15%;
    background: #6786ca;
    text-align: center;
    margin: 5px;
    padding: 13px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    transition: 2.5s;
}

header {
    background-color: #46b070;
    font-size: 70px;
    text-shadow: 1px 1px #BDFCC9;
    display: block;
    text-align: center;
    margin: 30px auto;
    width: 100%;
}

#categoryName {
    font-size: 30px;
    color: gray;
}

#game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}