table {
    height: 500px;
    width: 500px;
    background-color: blue;
}

#btn btn-primary {
    color: lightcyan;
    height: 15px;
    width: 15px;
}

body {
    display: flex;
    align-content: center;
}

h2 {
    text-align: center;
    color: lightsalmon;
}