        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            background-color: rgb(10, 57, 177);
        }
        
        .buttons {
            display: inline-block;
            align-content: center;
            justify-content: center;
            height: 100px;
            width: 15%;
            background: #166ad2;
            text-align: center;
            margin: 4px;
            padding: 13px;
            border-radius: 5px;
            font-size: 10px;
            font-weight: bold;
            transition: 2.5s;
            font-size: -webkit-xxx-large;
            color: #f2f723;
            ;
            border: 5px solid #f5f5f5;
        }
        
        header {
            background-color: rgb(10, 57, 177);
            height: 140px;
            display: block;
            text-align: center;
            margin: auto 0;
            width: 100%;
            border: 5px solid white;
        }
        
        #categoryName {
            font-size: 30px;
            color: #eaff54;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
            font-size: xx-large;
            font-weight: bolder;
            padding-top: 5px;
            padding-bottomn: 10px;
            border: 5px solid #f5f5f5;
            background: #166ad2;
        }
        
        h1 {
            font-family: 'Asset', cursive;
            font-size: 61pxpx;
            color: white;
            letter-spacing: 5px;
            text-align: center
        }
        
        h2 {
            font-family: 'Poiret One', cursive;
            font-size: 30px;
            text-align: center;
            letter-spacing: 5px;
            font-weight: bolder;
            text-decoration: underline;
            color: whitesmoke;
        }